$color_primary: #673ab7;
$color_primary-light: #9a67ea;
$color_primary-dark: #320b86;
$color_primary-text: #f4f4f4;
$color_secondary: #89b73a;
$color_secondary-light: #bce96a;
$color_secondary-dark: #588700;
$color_secondary-text: #000;
$color_3rdComp: #3ab768;
$color_4thComp: #b73a89;

$zIndex_overlay: 500;
$zIndex_sideMenu: 600;
  
$shadow: 1px 1px 2px 1px $color_secondary-text;