/* 

*/ 
/* ~~~~~~~~~~~~~~~ media queries start ~~~~~~~~~~~~~~~ */
/* 

*/ 

/* applies to screens larger than 568px */
@media (min-width: 568px) {
  .pimg1, .pimg2, .pimg3, .pimg4 {
    background-attachment: fixed;
  }
}

/* applies to screens smaller than 568px */
@media (max-width: 568px) {
  .section {
    padding: 5px;
    font-size: 1.6;
    transition: 0.5s;
  }

  .ptext {
    font-size: 1.6em;
    letter-spacing: 2px;
    transition: 0.5s;
  }
  
  .border {
    padding: 10px;
    opacity: 1;
  }

  #side-menu a {
    padding: 5px 5px 5px 7.5px;
    transition: 0.5s;
  }

  #weather_location-information,
  #weather_location-buttons {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, auto-fit);
  }

  #weather_change-location i {
    display: none;
  }

  #weather_details {
    font-size: 0.75em;
  }
}

/* applies to screens smaller than 700px */
@media (max-width: 700px) {
  .count-particles, 
  #stats,
  #side-menu_close-arrow,
  .side-menu_message {
    display: none;
  }

  #app1, 
  #app2, 
  #polarClock {
    grid-template-columns: 1fr;
  }
}

/* applies to screens larger than 900px */
@media (min-width: 900px) {
  #languages {
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
  }
}

/* applies to screens smaller than 960px */
@media (max-width: 960px) {
  .side-menu_message {
    font-size: 1.6em;
    transition: 0.5s;
  }
}

/* 

*/ 
/* ~~~~~~~~~~~~~~~ media queries end ~~~~~~~~~~~~~~~ */
/* 

*/ 