/* 

*/ 
/* ~~~~~~~~~~~~~~~ stats start ~~~~~~~~~~~~~~~ */
/* 

*/

#stats-display {
  position:absolute;
  top: 15px;
  right: 30px;
  font-size: 2em;
}

#stats-info {
  cursor:pointer;
  opacity:0.9;
  z-index:10000;
  transition: 0.5s;
}

/* 

*/ 
/* ~~~~~~~~~~~~~~~ stats end ~~~~~~~~~~~~~~~ */
/* 

*/ 