body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

/* lower particles below everything else */
.particlesZorder {
  z-index: -2;
}

.translate {
  margin-left: 1rem;
  margin-right: 1rem;
}

.changeFont {
  font-size: 2rem;
  font-family: 'Berkshire Swash', cursive;
}

.changeFont::first-letter {
  font-size: 2.5rem;
  color: purple;
}

/* utilities */
.u_text-50 { font-size: .5rem; }
.u_text-75 { font-size: .75rem; }

/* media query breakpoints based on material.io design from google
These do not effect the design layout, only used to demo media breaks on page. */

@media screen and (max-width: 359px) {
  /* hide the monkey logo in the nav bar...otherwise it throws off the text */
  .hideTheMonkey {
    display: none;
  }
}
@media screen and (min-width: 359px) {
  .mediaBreak359 {
    color: #ffffff;
    background-color: #673ab7;
  }
}
@media screen and (min-width: 399px) {
  .mediaBreak399 {
    color: #ffffff;
    background-color: #673ab7;
  }
}
@media screen and (min-width: 479px) {
  .mediaBreak479 {
    color: #ffffff;
    background-color: #673ab7;
  }
}
@media screen and (min-width: 599px) {
  .mediaBreak599 {
    color: #ffffff;
    background-color: #673ab7;
  }
}
@media screen and (min-width: 719px) {
  .mediaBreak719 {
    color: #ffffff;
    background-color: #673ab7;
  }
}
@media screen and (min-width: 839px) {
  .mediaBreak839 {
    color: #ffffff;
    background-color: #673ab7;
  }
}
@media screen and (max-width: 959px) {
  /* hide stats and counter...it blocks the content */
  #stats, .count-particles {
    display: none;
  }
}
@media screen and (min-width: 959px) {
  .mediaBreak959 {
    color: #ffffff;
    background-color: #673ab7;
  }  
}
@media screen and (min-width: 1023px) {
  .mediaBreak1023 {
    color: #ffffff;
    background-color: #673ab7;
  }
}
@media screen and (min-width: 1279px) {
  .mediaBreak1279 {
    color: #ffffff;
    background-color: #673ab7;
  }
}
@media screen and (min-width: 1439px) {
  .mediaBreak1439 {
    color: #ffffff;
    background-color: #673ab7;
  }
}
@media screen and (min-width: 1599px) {
  .mediaBreak1599 {
    color: #ffffff;
    background-color: #673ab7;
  }
}
@media screen and (min-width: 1600px) {
  .mediaBreak1600Up {
    color: #ffffff;
    background-color: #673ab7;
  }
}


/* ~~~~~~~~~~ particle effects and stat counter START ~~~~~~~~~~ */

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  /* position: absolute;
  top: 48px;
  left: 0; */
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100vh;
  /* background-color: #b61924; */
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -5;
}

/* ~~~~~~~~~~ particle effects and stat counter END ~~~~~~~~~~ */