/* must have three custom id/class references */

/* move the particles div and overlay below default so that everything apperas on top */
.particlesZorder {
  z-index: -2;
}

.translate {
  margin-left: 1rem;
  margin-right: 1rem;
}

.changeFont {
  font-size: 2rem;
  font-family: 'Berkshire Swash', cursive;
}

.changeFont::first-letter {
  font-size: 2.5rem;
  color: purple;
}